conf.json
__pycache__/
.venv/
dist/
build/
*.spec
*.pyc
*.exe
icon.ico
icon.auto.ico
BetterAdvancedPaste/.vs
BetterAdvancedPaste/Release
BetterAdvancedPaste/x64
BetterAdvancedPaste/BetterAdvancedPaste/Release
BetterAdvancedPaste/BetterAdvancedPaste/x64
